body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #141414;
    padding: 20px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 60px 20px;
    border-radius: 12px;
    background: linear-gradient(#121220bb, #55133f36);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.18);
    max-width: 400px;
    width: 100%;
}

.profile-pic {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

h2 {
    color: #C4F82A;
    font-size: 14px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.link-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.link-buttons a {
    width: 100%;
    max-width: 304px;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 15px;
    background: #333;
    border: 1px solid rgba(197, 248, 42, 0.38);
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.link-buttons a:hover {
    background: #6a744f;
    border-color: #333;
    transform: scale(1.05);
}

.link-buttons img {
    width: 24px;
    height: 24px;
}

.attribution {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: lightblue;
}

.attribution a {
    color: lightcyan;
}